.item{
    display: flex;
    justify-content: flex-start;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 3px;
    padding: 5px;
    background-color: #f4f2f5;
}
.item>div{
    margin: 5px;
}
.info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.info>div{
    width: 50%;
}
.img{
    width: 110px;
}